.logo-wrapper {
  background-color: #2d2d2d;
}
.chart-settings .md-form {
  margin-bottom: 0;
}

mdb-select {
  width: 181px;
}
.container-fluid {
  margin: 0;
  max-height: 400px;
  display: inline;

}
.row {
  max-height: 400px;
  
}
