<div class="row">
    <div class="col-md-12">
        <!--Card-->
        <div class="card card-cascade  mt-5">
          
          <!--Card image-->
          <div class="view gradient-card-header yellow">
              <h4 class="h4-responsive dark-grey-text font-bold">Sales</h4>
          </div>
          <!--/Card image-->
    
          <!--Card content-->
          <div class="card-body text-center">
    
          <div class="row">
            <div class="col-md-12">
              <div style="display: block">
                <canvas mdbChart 
                    [chartType]="chart1Type"
                    [datasets]="chartDatasets" 
                    [labels]="chart1Labels"
                    [colors]="chartColors"
                    [options]="chartOptions"
                    [legend]="true">
                </canvas>
              </div>  
            </div>
            <div class="col-md-12">
                                              
              <!--Table-->
              <table class="table table-sm">
                
                    <!--Table head-->
                    <thead class="yellow">
                        <tr>
                          <th>#</th>
                          <th *ngFor="let h of chart1Labels">{{h}}</th>
                        </tr>
                    </thead>
                    <!--Table head-->
    
                    <!--Table body-->
                    <tbody>
                        <tr *ngFor='let row of chartDatasets; let i = index'>
                          <th scope="row">{{i+1}}</th>
                          <td *ngFor='let col of row.data'>{{col}}</td>
                        </tr>
                    </tbody>
                    <!--Table body-->
                </table>
                <!--Table-->
            </div>
          </div>
    
          </div>
          <!--/.Card content-->
    
        </div>
        <!--/.Card-->
    </div>
    </div>
    
    
    <div class="row">
      <div class="col-md-12">
          <!--Card-->
          <div class="card card-cascade  mt-5">
            
            <!--Card image-->
            <div class="view gradient-card-header yellow">
                <h4 class="h4-responsive dark-grey-text font-bold">Sales</h4>
            </div>
            <!--/Card image-->
      
            <!--Card content-->
            <div class="card-body text-center">
      
            <div class="row">
              <div class="col-md-12">
                <div style="display: block">
                  <canvas mdbChart 
                      [chartType]="chart2Type"
                      [datasets]="chartDatasets" 
                      [labels]="chart1Labels"
                      [colors]="chartColors"
                      [options]="chartOptions"
                      [legend]="true">
                  </canvas>
                </div>  
              </div>
              <div class="col-md-12">
                                                
                <!--Table-->
                <table class="table">
                  
                      <!--Table head-->
                      <thead class="gradient-card-header yellow">
                          <tr>
                            <th>#</th>
                            <th *ngFor="let h of chart1Labels">{{h}}</th>
                          </tr>
                      </thead>
                      <!--Table head-->
      
                      <!--Table body-->
                      <tbody>
                          <tr *ngFor='let row of chartDatasets; let i = index'>
                            <th scope="row">{{i+1}}</th>
                            <td *ngFor='let col of row.data'>{{col}}</td>
                          </tr>
                      </tbody>
                      <!--Table body-->
                  </table>
                  <!--Table-->
              </div>
            </div>
      
            </div>
            <!--/.Card content-->
      
          </div>
          <!--/.Card-->
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <!--Card-->
          <div class="card card-cascade  mt-5">
            
            <!--Card image-->
            <div class="view gradient-card-header yellow">
                <h4 class="h4-responsive dark-grey-text font-bold">Sales</h4>
            </div>
            <!--/Card image-->
      
            <!--Card content-->
            <div class="card-body text-center">
      
            <div class="row">
              <div class="col-md-12">
                <div style="display: block">
                  <canvas mdbChart 
                      [chartType]="chart3Type"
                      [datasets]="chartDatasets" 
                      [labels]="chart1Labels"
                      [colors]="chartColors"
                      [options]="chartOptions"
                      [legend]="true">
                  </canvas>
                </div>  
              </div>
              <div class="col-md-12">
                                                
                <!--Table-->
                <table class="table table-sm">
                  
                      <!--Table head-->
                      <thead class="aqua-gradient">
                          <tr>
                            <th>#</th>
                            <th *ngFor="let h of chart1Labels">{{h}}</th>
                          </tr>
                      </thead>
                      <!--Table head-->
      
                      <!--Table body-->
                      <tbody>
                          <tr *ngFor='let row of chartDatasets; let i = index'>
                            <th scope="row">{{i+1}}</th>
                            <td *ngFor='let col of row.data'>{{col}}</td>
                          </tr>
                      </tbody>
                      <!--Table body-->
                  </table>
                  <!--Table-->
              </div>
            </div>
      
            </div>
            <!--/.Card content-->
      
          </div>
          <!--/.Card-->
      </div>
    </div>
        
    <!-- itd dla kolejnych wykresow... -->