.logo-wrapper {
    background-color: #2d2d2d;
}

mdb-select {
    width: 181px;
}
.h1 {
    color: #666;
    position: relative;
    display: inline;
    text-align: center;
    align-content: center;
}
input[type=text] {
    width: 80%;
    height: 43px;
    box-sizing: border-box;
    // border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #e5e5e5;
    padding: 12px 20px 12px 40px;
}
// .button2 {
//     -webkit-border-radius: 12;
//     -moz-border-radius: 12;
//     border-radius: 12px;
//     -webkit-box-shadow: 0px 1px 3px #666666;
//     -moz-box-shadow: 0px 1px 3px #666666;
//     box-shadow: 0px 1px 3px #666666;
//     font-family: Arial;
//     color: #666666;
//     font-size: 32px;
//     background: #ffdd15;
//     padding: 10px 40px 10px 40px;
//     border: solid #ffffff 4px;
//     text-decoration: none;
//     cursor: pointer;
//   }
  