<div class="row">
  <div class="col-md-4">
    <!--Card-->
    <div class="card card-cascade narrower mt-5">
      
      <!--Card image-->
      <div class="view gradient-card-header yellow">
          <h4 class="h4-responsive dark-grey-text font-bold">Line chart</h4>
      </div>
      <!--/Card image-->

      <!--Card content-->
      <div class="card-body text-center">

        <div style="display: block">
          <canvas mdbChart 
              [chartType]="chart1Type"
              [datasets]="chart1Datasets" 
              [labels]="chart1Labels"
              [colors]="chart1Colors"
              [options]="chartOptions"
              [legend]="true">
          </canvas>
        </div>
              

      </div>
      <!--/.Card content-->

    </div>
    <!--/.Card-->
  </div>
  <div class="col-md-4">
    <!--Card-->
    <div class="card card-cascade narrower mt-5">
      
      <!--Card image-->
      <div class="view gradient-card-header yellow">
          <h4 class="h4-responsive dark-grey-text font-bold">Radar chart</h4>
      </div>
      <!--/Card image-->

      <!--Card content-->
      <div class="card-body text-center">


        <div style="display: block">
          <canvas mdbChart 
              width="422"
              height="211"
              [chartType]="chart2Type"
              [datasets]="chart2Datasets" 
              [labels]="chart2Labels"
              [colors]="chart2Colors"
              [options]="chartOptions"
              [legend]="true">
          </canvas>
      </div>
      </div>
      <!--/.Card content-->
    </div>
    <!--/.Card-->
  </div>
  <div class="col-md-4">
    <!--Card-->
    <div class="card card-cascade narrower mt-5">     
      <!--Card image-->
      <div class="view gradient-card-header yellow">
          <h4 class="h4-responsive dark-grey-text font-bold">Bar chart</h4>
      </div>
      <!--/Card image-->
      <!--Card content-->
      <div class="card-body text-center">
        <div style="display: block">
          <canvas mdbChart 
              [chartType]="chart3Type"
              [datasets]="chart3Datasets" 
              [labels]="chart3Labels"
              [colors]="chart3Colors"
              [options]="chartOptions"
              [legend]="true">
          </canvas>
      </div> 
      </div>
      <!--/.Card content-->
    </div>
    <!--/.Card-->
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <!--Card-->
    <div class="card card-cascade narrower mt-5">     
      <!--Card image-->
      <div class="view gradient-card-header yellow">
          <h4 class="h4-responsive dark-grey-text font-bold">Polar Area chart</h4>
      </div>
      <!--/Card image-->
      <!--Card content-->
      <div class="card-body text-center">
        <div style="display: block">
          <canvas mdbChart 
              [chartType]="chart4Type"
              [data]="chart4Datasets" 
              [labels]="chart4Labels"
              [colors]="chart4Colors"
              [options]="chartOptions"
              [legend]="true">
          </canvas>
      </div>
              
      </div>
      <!--/.Card content-->
    </div>
    <!--/.Card-->
  </div>
  <div class="col-md-4">
    <!--Card-->
    <div class="card card-cascade narrower mt-5">     
      <!--Card image-->
      <div class="view gradient-card-header yellow">
          <h4 class="h4-responsive dark-grey-text font-bold">Pie chart</h4>
      </div>
      <!--/Card image-->
      <!--Card content-->
      <div class="card-body text-center">
        <div style="display: block">
          <canvas mdbChart 
              [chartType]="chart5Type"
              [datasets]="chart5Datasets" 
              [labels]="chart5Labels"
              [colors]="chart5Colors"
              [options]="chartOptions"
              [legend]="true">
          </canvas>
      </div> 
      </div>
      <!--/.Card content-->
    </div>
    <!--/.Card-->
  </div>
  <div class="col-md-4">
    <!--Card-->
    <div class="card card-cascade narrower mt-5">     
      <!--Card image-->
      <div class="view gradient-card-header yellow">
          <h4 class="h4-responsive dark-grey-text font-bold">Bar chart</h4>
      </div>
      <!--/Card image-->
      <!--Card content-->
      <div class="card-body text-center">
        <div style="display: block">
          <canvas mdbChart 
              [chartType]="chart6Type"
              [datasets]="chart6Datasets" 
              [labels]="chart6Labels"
              [colors]="chart6Colors"
              [options]="chartOptions"
              [legend]="true">
          </canvas>
      </div> 
      </div>
      <!--/.Card content-->
    </div>
    <!--/.Card-->
  </div>
</div>