<section class="mb-5">

    <!--Card-->
    <div class="card card-cascade narrower">

        <!--Section: Chart-->
        <section>

            <!--Grid row-->
            <div class="row mb-4">

                <!--Grid column-->
                <div class="col-xl-5 col-md-12 mr-0">

                    <!--Card image-->
                    <div class="view gradient-card-header yellow">
                        <h2 class="h2-responsive mb-0 dark-grey-text font-bold">Visitors by country</h2>
                    </div>
                    <!--/Card image-->

                    <!--Card content-->
                    <div class="card-body pb-0">

                        <!--Panel data-->
                        <div class="card-body pt-2">

                            <table class="table no-header">
                                <tbody>
                                    <tr>
                                        <td><img src="assets/img/flags/us.png" class="flag mr-2"> United States</td>
                                        <td>307</td>
                                    </tr>
                                    <tr>
                                        <td><img src="assets/img/flags/in.png" class="flag mr-2"> India</td>
                                        <td>504</td>
                                    </tr>
                                    <tr>
                                        <td><img src="assets/img/flags/cn.png" class="flag mr-2"> China</td>
                                        <td>613</td>
                                    </tr>
                                    <tr>
                                        <td><img src="assets/img/flags/pl.png" class="flag mr-2"> Poland</td>
                                        <td>208</td>
                                    </tr>
                                    <tr>
                                        <td><img src="assets/img/flags/it.png" class="flag mr-2"> Italy</td>
                                        <td>314</td>
                                    </tr>
                                </tbody>
                            </table>

                            <button class="btn-flat grey lighten-2 btn-rounded waves-effect float-right dark-grey-text">full report</button>

                        </div>
                        <!--/Panel data-->

                    </div>
                    <!--/.Card content-->

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-xl-7 col-md-12 mb-r">

                    <!--Card image-->
                    <div class="view gradient-card-header white">
                        <agm-map [latitude]="map.lat" [longitude]="map.lng" style="height: 420px">
                            <agm-marker [latitude]="map.lat" [longitude]="map.lng"></agm-marker>
                        </agm-map>
                    </div>
                    <!--/Card image-->

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

            <!--Second row-->
            <div class="row mb-0">
                <!--First column-->
                <div class="col-md-12">

                    <!--Panel content-->
                    <div class="card-body pt-0">

                        <div class="table-responsive">

                            <!--Table-->
                            <table class="table table-hover">
                                <!--Table head-->
                                <thead>
                                    <tr class="rgba-stylish-strong white-text">
                                        <th>Campaign name</th>
                                        <th>Source</th>
                                        <th>Conversion rate</th>
                                        <th>Invested</th>
                                    </tr>
                                </thead>
                                <!--/Table head-->

                                <!--Table body-->
                                <tbody>
                                    <tr class="none-top-border">
                                        <td>Newsletter</td>
                                        <td>Newsletter</td>
                                        <td>5%</td>
                                        <td>100$</td>
                                    </tr>
                                    <tr>
                                        <td>Facebook</td>
                                        <td>Facebook</td>
                                        <td>5%</td>
                                        <td>100$</td>
                                    </tr>
                                    <tr>
                                        <td>Adwords</td>
                                        <td>Adwords</td>
                                        <td>5%</td>
                                        <td>100$</td>
                                    </tr>
                                    <tr>
                                        <td>Sponsored post</td>
                                        <td>Sponsored post</td>
                                        <td>5%</td>
                                        <td>100$</td>
                                    </tr>
                                    <tr>
                                        <td>Newsletter 2</td>
                                        <td>Newsletter 2</td>
                                        <td>5%</td>
                                        <td>100$</td>
                                    </tr>
                                </tbody>
                                <!--/Table body-->
                            </table>
                            <!--/Table-->

                        </div>

                    </div>
                    <!--/.Panel content-->

                </div>
                <!--/First column-->
            </div>
            <!--/Second row-->

        </section>
        <!--Section: Chart-->

    </div>
    <!--/.Card-->

</section>

<section class="mb-5">

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-r">


            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Card image-->
                <div class="view gradient-card-header mdb-color lighten-4">
                    <canvas mdbChart
                        height="197"
                        width="394"
                        [chartType]="chart1Type"
                        [data]="chart1Datasets"
                        [labels]="chartLabels"
                        [options]="chart1Options"
                        [legend]="true"
                        [colors]="chart1Colors">
                    </canvas>
                </div>
                <!--/Card image-->

                <!--Card content-->
                <div class="card-body text-center">

                    <div class="list-group list-panel">
                        <a class="list-group-item d-flex justify-content-between dark-grey-text">Cras justo odio <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to fix"></i></a>
                        <a class="list-group-item d-flex justify-content-between dark-grey-text">Dapibus ac facilisi<i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to fix"></i></a>
                        <a class="list-group-item d-flex justify-content-between dark-grey-text">Morbi leo risus <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to fix"></i></a>
                        <a class="list-group-item d-flex justify-content-between dark-grey-text">Porta ac consectet<i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to fix"></i></a>
                        <a class="list-group-item d-flex justify-content-between dark-grey-text">Vestibulum at eros <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to fix"></i></a>
                    </div>

                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->


        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-r">

            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Card image-->
                <div class="view gradient-card-header yellow">
                    <canvas mdbChart
                        height="197"
                        width="394"
                        [chartType]="chart2Type"
                        [datasets]="chart2Datasets"
                        [labels]="chartLabels"
                        [options]="chart2Options"
                        [legend]="true"
                        [colors]="chart2Colors">
                </canvas>
                </div>
                <!--/Card image-->

                <!--Card content-->
                <div class="card-body text-center">

                    <div class="list-group list-panel">
                        <a class="list-group-item d-flex justify-content-between dark-grey-text">Cras justo odio <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to fix"></i></a>
                        <a class="list-group-item d-flex justify-content-between dark-grey-text">Dapibus ac facilisi<i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to fix"></i></a>
                        <a class="list-group-item d-flex justify-content-between dark-grey-text">Morbi leo risus <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to fix"></i></a>
                        <a class="list-group-item d-flex justify-content-between dark-grey-text">Porta ac consectet<i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to fix"></i></a>
                        <a class="list-group-item d-flex justify-content-between dark-grey-text">Vestibulum at eros <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to fix"></i></a>
                    </div>

                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-r">

            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Card image-->
                <div class="view gradient-card-header yellow">
                    <canvas mdbChart
                        height="197"
                        width="394"
                        [chartType]="chart3Type"
                        [datasets]="chart3Datasets"
                        [labels]="chartLabels"
                        [options]="chart1Options"
                        [legend]="true"
                        [colors]="chart3Colors">
                    </canvas>
                </div>
                <!--/Card image-->

                <!--Card content-->
                <div class="card-body text-center">

                    <div class="list-group list-panel">
                        <a class="list-group-item d-flex justify-content-between dark-grey-text">Cras justo odio <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to fix"></i></a>
                        <a class="list-group-item d-flex justify-content-between dark-grey-text">Dapibus ac facilisi<i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to fix"></i></a>
                        <a class="list-group-item d-flex justify-content-between dark-grey-text">Morbi leo risus <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to fix"></i></a>
                        <a class="list-group-item d-flex justify-content-between dark-grey-text">Porta ac consectet<i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to fix"></i></a>
                        <a class="list-group-item d-flex justify-content-between dark-grey-text">Vestibulum at eros <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to fix"></i></a>
                    </div>

                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>