<app-stats-card></app-stats-card>

<section>
<div class="row">

    <!-- First column -->

    <div class="col-lg-6 col-md-12">

        <!--Panel-->
        <div class="mb-r">
            <panel header="Recent comments and replies">
                
                <div class="card-body">

                    <table class="table no-header">
                        <tbody>
                            <tr>
                                <td>John Doe</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</td>
                                <td class="hour"><small><span class="grey-text float-right"><i class="fa fa-clock-o" aria-hidden="true"></i> 12 min</span></small></td>
                            </tr>
                            <tr>
                                <td>Merry Joe</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</td>
                                <td class="hour"><small><span class="grey-text float-right"><i class="fa fa-clock-o" aria-hidden="true"></i> 12 min</span></small></td>
                            </tr>
                            <tr>
                                <td>Jessie Doe</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</td>
                                <td class="hour"><small><span class="grey-text float-right"><i class="fa fa-clock-o" aria-hidden="true"></i> 12 min</span></small></td>
                            </tr>
                        </tbody>
                    </table>

                    <a class="btn grey btn-rounded waves-effect waves-light">See more</a>

                </div>
            </panel>
        </div>
        <!--/.Panel-->

        <!-- Panel -->

        <div class="mb-r">
            <panel header="Issues">
                <div class="card-body">
                    <div class="table-responsive">

                        <table class="table">

                            <thead>
                                <tr>
                                    <th>Status</th>
                                    <th>Title</th>
                                    <th>User</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span class="badge green">Open</span></td>
                                    <td>Lorem ipsum dolor</td>
                                    <td>John Doe</td>
                                    <td class="hour"><small><span class="grey-text"><i class="fa fa-clock-o" aria-hidden="true"></i> 12 min</span></small></td>
                                </tr>
                                <tr>
                                    <td><span class="badge green">Open</span></td>
                                    <td>Lorem ipsum dolor</td>
                                    <td>John Doe</td>
                                    <td class="hour"><small><span class="grey-text"><i class="fa fa-clock-o" aria-hidden="true"></i> 12 min</span></small></td>
                                </tr>
                                <tr>
                                    <td><span class="badge warning-color">In progress</span></td>
                                    <td>Lorem ipsum dolor</td>
                                    <td>John Doe</td>
                                    <td class="hour"><small><span class="grey-text"><i class="fa fa-clock-o" aria-hidden="true"></i> 12 min</span></small></td>
                                </tr>
                                <tr>
                                    <td><span class="badge red">Closed</span></td>
                                    <td>Lorem ipsum dolor</td>
                                    <td>John Doe</td>
                                    <td class="hour"><small><span class="grey-text"><i class="fa fa-clock-o" aria-hidden="true"></i> 12 min</span></small></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div>
            </panel>
        </div>

        <!-- /.Panel -->

    </div>

    <!-- /.First column -->

    <div class="col-lg-6 col-md-12">

        <!--Panel-->
        <div class="mb-r">
            <panel header="Users activity">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <small class="grey-text">Pages/Visits</small>
                            <h4>139 419</h4>
                        </div>
                        <div class="col-4">
                            <small class="grey-text">New visitors</small>
                            <h4>51.94%</h4>
                        </div>
                        <div class="col-4">
                            <small class="grey-text">Last week</small>
                            <h4>51 932</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <small class="grey-text">Pages/Visits</small>
                            <h4>139 419</h4>
                        </div>
                        <div class="col-4">
                            <small class="grey-text">New visitors</small>
                            <h4>51.94%</h4>
                        </div>
                        <div class="col-4">
                            <small class="grey-text">Last week</small>
                            <h4>51 932</h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <small class="grey-text">Pages/Visits</small>
                            <h4>139 419</h4>
                        </div>
                        <div class="col-4">
                            <small class="grey-text">New visitors</small>
                            <h4>51.94%</h4>
                        </div>
                        <div class="col-4">
                            <small class="grey-text">Last week</small>
                            <h4>51 932</h4>
                        </div>
                    </div>

                    <a class="btn grey btn-rounded waves-effect waves-light">See more</a>
                </div>
            </panel>
        </div>
        <!--/.Panel-->

        <!-- Panel -->
        <div class="card mb-r text-center py-3 red accent-2 white-text">
            <i class="fa fa-bell fa-3x mb-3"></i>
            <h4 class="h4-responsive">28 warning messages</h4>
        </div>
        <!-- /.Panel -->

        <!-- Panel -->
        <div class="row mb-3">
            <div class="col-4">
                <h4 class="h4-responsive"><span class="badge big-badge info-color">8K</span> Fans</h4>
            </div>
            <div class="col-4">
                <h4 class="h4-responsive"><span class="badge big-badge primary-color">21K</span> Orders</h4>
            </div>
            <div class="col-4">
                <h4 class="h4-responsive"><span class="badge big-badge secondary-color">8K</span> Fans</h4>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-4">
                <h4 class="h4-responsive"><span class="badge big-badge stylish-color">14K</span> Total likes</h4>
            </div>
            <div class="col-4">
                <h4 class="h4-responsive"><span class="badge big-badge warning-color">14K</span> Users</h4>
            </div>
            <div class="col-4">
                <h4 class="h4-responsive"><span class="badge big-badge grey darken-1">1.2K</span> Online</h4>
            </div>
        </div>
        <!-- ./Panel -->
    </div>

    <!-- Second column -->


    <!-- /.Second column -->

</div>
</section>