<section class="view intro intro-2 hm-stylish-strong hm-indigo-slight">
  <div class="full-bg-img">
    <div class="container">

      <!--Section: Pricing v.3-->
      <section class="section pt-5 my-5">

        <!--Section heading-->
        <h1 class="section-heading h1 pt-4 white-text">Our pricing plans</h1>
        <!--Section description-->
        <p class="section-description white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident
          voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus
          veniam.
        </p>

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-r">
            <!--Card-->
            <div class="card hoverable">

              <!--Content-->
              <div class="text-center">
                <div class="card-body">
                  <h5>Basic plan</h5>
                  <div class="flex-center">
                    <div class="card-circle">
                      <i class="fa fa-home light-blue-text"></i>
                    </div>
                  </div>

                  <!--Price-->
                  <h2 class="font-bold mb-2">59$</h2>
                  <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa pariatur id nobis
                    accusamus deleniti cumque hic laborum.</p>
                  <a class="btn btn-light-blue btn-rounded waves-effect waves-light">Buy now</a>
                </div>
              </div>

            </div>
            <!--Card-->
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-r">
            <!--Card-->
            <div class="card pink-gradient hoverable">

              <!--Content-->
              <div class="text-center white-text">
                <div class="card-body">
                  <h5>Premium plan</h5>
                  <div class="flex-center">
                    <div class="card-circle">
                      <i class="fa fa-group white-text"></i>
                    </div>
                  </div>

                  <!--Price-->
                  <h2 class="font-bold mb-2">79$</h2>
                  <p>Esse corporis saepe laudantium velit adipisci cumque iste ratione facere non
                    distinctio cupiditate sequi atque.</p>
                  <a class="btn btn-outline-white btn-rounded waves-effect waves-light">Buy now</a>
                </div>
              </div>

            </div>
            <!--Card-->
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-r">
            <!--Card-->
            <div class="card hoverable">

              <!--Content-->
              <div class="text-center">
                <div class="card-body">
                  <h5>Advanced plan</h5>
                  <div class="flex-center">
                    <div class="card-circle">
                      <i class="fa fa-bar-chart light-blue-text"></i>
                    </div>
                  </div>

                  <!--Price-->
                  <h2 class="font-bold mb-2">99$</h2>
                  <p class="grey-text">At ab ea a molestiae corrupti numquam quo beatae minima ratione magni accusantium
                    repellat eveniet quia vitae.</p>
                  <a class="btn btn-light-blue btn-rounded waves-effect waves-light">Buy now</a>
                </div>
              </div>

            </div>
            <!--Card-->
          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </section>
      <!--Section: Pricing v.3-->

    </div>
  </div>
</section>