<header>
	<section class="view intro intro-2 hm-gradient hm-indigo-slight">
	  <div class="full-bg-img">
	    <div class="container flex-center">

	      <!--Grid row-->
	      <div class="row  pt-5 mt-3">

	        <!--Grid column-->
	        <div class="col-md-12">

	          <div class="card">
	            <div class="card-body">

	              <h2 class="feature-title text-center mb-5 mt-4 font-bold"><strong>REGISTER</strong></h2>
	              <hr>

	              <!--Grid row-->
	              <div class="row mt-5">

	                <!--Grid column-->
	                <div class="col-md-6 ml-lg-5 ml-md-3 features-small">

	                  <!--Grid row-->
	                  <div class="row pb-3">
	                    <div class="col-2 col-lg-1">
	                      <i class="fa fa-bank indigo-text fa-lg"></i>
	                    </div>
	                    <div class="col-10">
	                      <h4 class="feature-title"><strong>Safety</strong></h4>
	                      <p class="dark-grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
	                        maiores nam, aperiam minima assumenda deleniti hic.</p>
	                    </div>
	                  </div>
	                  <!--Grid row-->

	                  <!--Grid row-->
	                  <div class="row pb-3">
	                    <div class="col-2 col-lg-1">
	                      <i class="fa fa-desktop deep-purple-text fa-lg"></i>
	                    </div>
	                    <div class="col-10">
	                      <h4 class="feature-title"><strong>Technology</strong></h4>
	                      <p class="dark-grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
	                        maiores nam, aperiam minima assumenda deleniti hic.</p>
	                    </div>
	                  </div>
	                  <!--Grid row-->

	                  <!--Grid row-->
	                  <div class="row pb-4">
	                    <div class="col-2 col-lg-1">
	                      <i class="fa fa-money purple-text fa-lg"></i>
	                    </div>
	                    <div class="col-10">
	                      <h4 class="feature-title"><strong>Finance</strong></h4>
	                      <p class="dark-grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
	                        maiores nam, aperiam minima assumenda deleniti hic.</p>
	                    </div>
	                  </div>
	                  <!--Grid row-->

	                </div>
	                <!--Grid column-->

	                <!--Grid column-->
	                <div class="col-md-5">

	                  <!--Grid row-->
	                  <div class="row pb-4 d-flex justify-content-center mb-4">

	                    <h4 class="mt-3 mr-4"><strong>Login with</strong></h4>

	                    <div class="inline-ul text-center d-flex justify-content-center">
	                      <a class="icons-sm tw-ic"><i class="fa fa-twitter fa-lg indigo-text"></i></a>
	                      <a class="icons-sm li-ic"><i class="fa fa-linkedin fa-lg indigo-text"> </i></a>
	                      <a class="icons-sm ins-ic"><i class="fa fa-instagram fa-lg indigo-text"> </i></a>
	                    </div>

	                    <h4 class="mt-3 ml-4"><strong>or:</strong></h4>

	                  </div>
	                  <!--/Grid row-->

	                  <!--Body-->
	                  <div class="md-form">
	                    <i class="fa fa-user prefix dark-grey-text"></i>
	                    <input type="text" id="orangeForm-name" class="form-control" mdbActive>
	                    <label for="orangeForm-name">Your name</label>
	                  </div>
	                  <div class="md-form">
	                    <i class="fa fa-envelope prefix dark-grey-text"></i>
	                    <input type="text" id="orangeForm-email" class="form-control" mdbActive>
	                    <label for="orangeForm-email">Your email</label>
	                  </div>

	                  <div class="md-form">
	                    <i class="fa fa-lock prefix dark-grey-text"></i>
	                    <input type="password" id="orangeForm-pass" class="form-control" mdbActive>
	                    <label for="orangeForm-pass">Your password</label>
	                  </div>

	                  <div class="text-center">
	                    <button class="btn btn-indigo btn-rounded mt-3 waves-effect waves-light" mdbRippleRadius>Sign up</button>
	                  </div>

	                </div>
	                <!--Grid column-->

	              </div>
	              <!--Grid row-->

	            </div>
	          </div>

	        </div>
	        <!--Grid column-->

	      </div>
	      <!--Grid row-->

	    </div>
	  </div>
	</section>
</header>
