<div class="row mt-5">
    <div class="col-md-12">
        <!--Card-->
        <div class="card card-cascade narrower mt-5">
            <!--Card image-->
            <div class="view gradient-card-header yellow">
                <h4 class="h4-responsive dark-grey-text font-bold">Date picker </h4>
            </div>
            <!--/Card image-->
            <!--Card content-->
            <div class="card-body text-center">
                <div class="row">
                    <div class="col-md-6 col-lg-5 mx-auto">
                        <div class="card px-5 pt-5 mb-5 pb-5 mt-5">

                            <mdb-date-picker #datePicker name="mydate" [placeholder]="'Select date'" [label]="'Try me...'" required></mdb-date-picker>
                        </div>

                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        
                    </div>
                </div>
            </div>
            <!--/.Card content-->
        </div>
        <!--/.Card-->
    </div>
</div>